body {
    font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    ;
}

.carousel-img {
    width: 100%;
    height: 380px;
}

.banner-top-navbar {
    width: 100%;
    height: 111px;
}

.banner-right-carousel,
.carousel-img,
.maps {
    background-color: #ffe403;
    border-radius: 12px 12px 12px 12px;
}

.text-none {
    text-decoration: none;
    transition: 0.7s;
    color: white;
}

.text-none:hover {
    margin-left: 15px;
    font-weight: bold;
    color: yellowgreen;
}

.sale {
    background: url(../img/bg-giamgia.jpg);
}

.img-sale {
    box-shadow: 11px 10px 5px #888;
    width: 140%;
    transition: 0.2s;
}

.img-sale:hover {
    width: 120%;
    margin-top: 10%;
}

.icon-new {
    position: relative;
    top: 70px;
    left: 50px;
    width: 30%;
}

.card-books-new {
    width: 100%;
}

.card-books-new:hover {
    box-shadow: 0px 0px 13px #888;
}

.gia-giam {
    font-weight: bold;
}

.gia-goc {
    text-decoration: line-through red;
}

.can-deu {
    text-align: justify;
}

.bg-dangky {
    background: url('../img/gifbook.gif');
}

.form-dangky {
    width: 500px;
    opacity: 0.9;
}